li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #0a62b0;
  }

.current {
    background-color: #0a62b0;
  }

ul {
    list-style-type: none;
    margin: 0px;;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
.sign {
    float: right;
    
  }
.ah1{
    font-size: x-large;
    
  }
#ah2 {
    text-align: center;
  }
